.nav-container{
    position: absolute;
    left: 5%;
    bottom: 50px; 
}

.nav-header {
    text-align: left;
    font-size: 20px;
    color:#FFF;
}
.close-icon {
    vertical-align: bottom;
}

.nav-body {
    width: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

@media screen and (min-width: 480px) {
    .nav-body {
        width: 100%;
    }
  }

.nav-body::-webkit-scrollbar {
    display: none;
}

/* .nav-body  {
    -webkit-overflow-scrolling: touch;
  } */

.nav-body .nav-cards {
    display: inline-block;
}

.animate__animated.animate__slideInRight {
    --animate-duration: 0.6s;
}

.closer-look-video {
    height:200px  !important;
}
.large{
    min-height: 130px !important;
}

.list li {
    font-size: 1em;
    list-style-position: outside;
}

.list h5 {
    text-decoration: underline;
    font-weight: 800;
}

.list ul,li {
    margin: 0;
    padding: 0;
}

.list ul {
    /* counter-reset: foo; */
    display: table;
}

.list li {
    list-style: none;
    /* counter-increment: foo; */
    display: table-row;
}

.list li::before {
    content: "-";
    display: table-cell;
    text-align: right;
    padding-right: .3em;
}

video::-webkit-media-controls-fullscreen-button
{
        display: none !important;
}